name: CI

permissions:
  contents: read

on:
    pull_request:
 
jobs:
  
  security:
    name: Security
    uses: ./.github/workflows/security.yaml
    secrets: inherit
   
  build-maven:
   name: Build Maven
   uses: ./.github/workflows/maven.yaml
   with:
      maven-goal: package
   needs: security
   
    


